<!-- Button trigger modal -->
<button type="button" class="hidden btn-show-favorite-modal" data-toggle="modal" data-target="#favorite-modal">

</button>

<!-- Modal -->
<div class="modal fade" id="favorite-modal" tabindex="-1" role="dialog" aria-labelledby="modal-center-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-center-title">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" spinner-url="{{ asset('images/spinner.gif') }}">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close-modal" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary btn-validate-modal">Sauvegarder et valider</button>
            </div>
        </div>
    </div>
</div>