<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('homepage') }}">ClfFony</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Accueil </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll btn-add-favorite" href="{{ path('add_favorite') }}">Ajouter un favori</a>
                </li>
            </ul>
            <div class="navbar-text">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        {% if is_granted('ROLE_USER') %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="nav-link scroll" href="{{ path('admin_userpage') }}">Administration</a>
                                <span class="separator">|</span> 
                            {% endif %}
                            <a class="nav-link scroll" href="{{ path('logout') }}">Se déconnecter</a>
                        {% else %}
                            <a class="nav-link scroll btn-login" href="{{ path('login') }}">Connexion</a>
                            <span class="separator">|</span> 
                            <a class="nav-link scroll btn-login" href="{{ path('register') }}">S'inscrire</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>