<!DOCTYPE html>
<html lang="fr">
<head>
    <title>ClfFony</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords"
          content="Clf, Fony, T2C, Tram, Horaires, hours, minuts, next, station, clermont, ferrand, 63"/>

    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">
</head>
<body>
<header>
    {% include 'backOffice/base/_flash_msg.html.twig' %}
    {% block navbar %}
        {% include 'frontOffice/base/_navbar.html.twig' %}
    {% endblock %}
</header>
<!--/banner-->
<section class="banner-top">
    <div class="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="carousel-caption">
                        <h3>ClfFony, Le meilleur outil de recherche d'itinéraire.</h3>
                    </div>
                </div>
            </div>
        </div>

        {% block banner_top %}

        {% endblock %}

    </div>
</section>

{% block body %}

{% endblock %}


<footer>
    <div class="container py-3 py-md-4">
        <div class="footer">
            <p class="text-center">© 2019 ClfFony.</p>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            app.initLoginForm();
            app.initAddFavoriteForm();
        });
    </script>
{% endblock %}

{% include 'frontOffice/base/_modal.html.twig' %}

</body>
</html>
