{% extends 'backOffice/base/layout_ajax.html.twig' %}

{% block body %}


    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.register.email) }}
        </div>
        <div class="col-md-6 select-role">
            {{ form_row(form.role) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.register.password) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}

{% endblock %}
