{% block content %}
    <button class="btn-success btn-{{ css_selector }}-edit" edit-url="{{ path(route_name_edit, {id : entity.id }) }}"><i class="fa fa-pencil"></i></button>
    <button class="btn-danger btn-{{ css_selector }}-delete" delete-url="{{ path(route_name_delete, {id : entity.id, token : csrf_token(token) }) }}"><i class="fa fa-trash"></i></button>
{% endblock content %}