{% extends 'backOffice/base/layout_ajax.html.twig' %}

{% block body %}
    {% if stops|length > 0 %}
        <ul>
            {% for stop in stops %}
                <li>{{ stop.name }} ajouté</li>
            {% endfor %}
        </ul>
    {% else %}
        Aucune mise à jour disponible
    {% endif %}
{% endblock %}