{% extends 'backOffice/base/layout.html.twig' %}

    {% block category %}Gestion des arrêts{% endblock %}
    {% block sub_category %}{% endblock %}

    {% block breadcrumb %}
        <li class="active">Gestion des arrêts</li>
    {% endblock breadcrumb %}

    {% block content %}

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <button class="pull-right btn btn-flat btn-danger update-stop">Mettre à jour les arrêts</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-body">
                            <table class="datatable table table-striped table-hover table-full-width"
                                   data-ajax="{{ path('admin_ajax_get_all_stops') }}">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Ligne</th>
                                </tr>
                                </thead>
                                <tbody>
                                {# Rempli en AJAX #}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

    {% block javascripts %}
        <script>
            $(document).ready(function () {
                app.initDataTables();
                $('.update-stop').on('click', function (e) {
                    app.createModal('Mise à jour des arrêts', '{{ path('admin_ajax_update_stops') }}', false);
                });
            });
        </script>
    {% endblock %}