{% extends 'frontOffice/base/layout.html.twig' %}

{% block banner_top %}
    <h3>Erreur 404</h3>
    <p>Page Not Found</p>
{% endblock %}

{% block body %}

{% endblock %}

{% block javascripts %}

{% endblock %}