{% extends 'frontOffice/base/layout.html.twig' %}

{% block banner_top %}
    <h3>Erreur 403</h3>
    <p>Access Denied</p>
{% endblock %}

{% block body %}

{% endblock %}

{% block javascripts %}

{% endblock %}