{% extends 'frontOffice/base/layout.html.twig' %}

{% block banner_top %}
    <h3>Erreur 500</h3>
    <p>Internal Server Error</p>
{% endblock %}

{% block body %}

{% endblock %}

{% block javascripts %}

{% endblock %}