<aside class="flash-messages hidden">
    <div class="row">
        <div class="col-md-12">
            {% set notice_messages = app.session.flashbag.get('notice') %}
            {% set successs_messages = app.session.flashbag.get('success') %}
            {% set error_messages = app.session.flashbag.get('error') %}

            {% if notice_messages or successs_messages or error_messages %}
                <div class="container-flash-messages">
                    {% for flashMessage in notice_messages %}
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span
                                        aria-hidden="true">&times;</span></button>
                            <span class="fa fa-info-circle" aria-hidden="true"></span>
                            {{ flashMessage|trans }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in successs_messages %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span
                                        aria-hidden="true">&times;</span></button>
                            <span class="fa fa-check-circle" aria-hidden="true"></span>
                            {{ flashMessage|trans }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in error_messages %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span
                                        aria-hidden="true">&times;</span></button>
                            <span class="fa  fa-exclamation-circle" aria-hidden="true"></span>
                            {{ flashMessage|trans }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="container-flash-messages">
                <div id="flash_success" class="alert alert-success alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span
                                aria-hidden="true">&times;</span></button>
                    <span class="fa fa-check-circle" aria-hidden="true"></span>
                    <span class="flash-message"></span>
                </div>

                <div id="flash_error" class="alert alert-danger alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Fermer"><span
                                aria-hidden="true">&times;</span></button>
                    <span class="fa  fa-exclamation-circle" aria-hidden="true"></span>
                    <span class="flash-message"></span>
                </div>
            </div>
        </div>
    </div>
</aside>