{% block footer %}
    <footer class="main-footer">
        <!-- Default to the left -->
        <strong>Copyright &copy; 2019 <a href="{{ path('homepage') }}">ClfFony</a>.</strong> Tous droits réservés.
    </footer>
{% endblock %}