{% block leftMenu %}
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu" data-widget="tree">
                <li><a href="{{ path('admin_userpage') }}"><i class="fa fa-address-card"></i>
                        <span>Gestion Utilisateurs</span></a></li>
                <li><a href="{{ path('admin_stop_page') }}"><i class="fa fa-user-md"></i>
                        <span>Gestion des arrêts</span></a>
                </li>
            </ul>
        </section>
    </aside>
{% endblock %}