{% block mainHeader %}
    <header class="main-header">
        <a href="{{ path('homepage') }}" class="logo">
            <span class="logo-mini"><b>ClfF</b></span>
            <span class="logo-lg"><b>Clf</b>Fony</span>
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class=""></a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            ClfFony |
                            <span class="hidden-xs">{{ app.user.originUsername }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <p>
                                    {{ app.user.originUsername }}
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Se déconnecter</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}