<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}ClfFony - Admin{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>

<body class="hold-transition skin-red">

{% block body %}
    <div class="wrapper">
        {% block mainHeader %}
            {% include 'backOffice/base/_top_nav_bar.html.twig' %}
        {% endblock %}

        {% block leftMenu %}
            {% include 'backOffice/base/_left_side_bar.html.twig' %}
        {% endblock %}

        <div class="content-wrapper">

            <section class="content-header">
                <h1 class="page-title">
                    {% block category %}{% endblock category %}
                    <small>{% block sub_category %}{% endblock sub_category %}</small>
                </h1>
                <ol class="breadcrumb">
                    {% block breadcrumb %}

                    {% endblock breadcrumb %}
                </ol>
            </section>

            <section>

                {% block content %}

                {% endblock content %}
            </section>
        </div>
    </div>

    {% block footer %}
        {% include 'backOffice/base/_footer.html.twig' %}

    {% endblock %}

{% endblock %}

<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
<script>
    $(document).ready(function () {

    });

</script>

{% include 'frontOffice/base/_modal.html.twig' %}

{% block javascripts %}{% endblock %}

</body>
</html>