{% extends 'frontOffice/base/layout_ajax.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.stopStart) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.stopEnd) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.name) }}
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}