{% extends 'frontOffice/base/layout.html.twig' %}

{% block banner_top %}
    <div id="home_banner_search" class="banner-bottom ajax-reload" ajax-url="{{ path('ajax_homepage') }}" spinner-url="{{ asset('images/spinner.gif') }}">

    </div>

{% endblock %}

{% block body %}
    <div class="route-result">

    </div>
{% endblock %}

{% block javascripts %}
    {{  parent() }}
    <script>
        $(document).ready(function () {
            app.initApp();
        });
    </script>
{% endblock %}