{% extends 'backOffice/base/layout.html.twig' %}

    {% block category %}Gestion des utilisateurs{% endblock %}
    {% block sub_category %}{% endblock %}

    {% block breadcrumb %}
        <li class="active">Gestion des utilisateurs</li>
    {% endblock breadcrumb %}

    {% block content %}

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <button class="pull-right btn btn-flat btn-danger add-user">Ajouter un utilisateur</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-body">
                            <table class="datatable table table-striped table-hover table-full-width"
                                   data-ajax="{{ path('admin_ajax_get_all') }}">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Email</th>
                                    <th>Rôle</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {# Rempli en AJAX #}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

    {% block javascripts %}
        <script>
            $(document).ready(function () {
                app.initDataTables();

                $('.add-user').on('click', function (e) {
                    app.createModal('Ajouter un utilisateur', '{{ path('admin_userpage_add') }}');
                });
            });
        </script>
    {% endblock %}