{% extends 'frontOffice/base/layout_ajax.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}

        <div>
            <p><a class="btn-forgot" href="{{ path('forgot_password') }}">Oublie de mot de passe ?</a></p>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        app.initForgotPasswordForm();
    </script>
 {% endblock %}