{% extends 'frontOffice/base/layout_ajax.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.password) }}
        {{ form_row(form.password.confirmation) }}

    {{ form_end(form) }}
{% endblock %}
