{% extends 'frontOffice/base/layout_ajax.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block banner_top %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            {% if is_granted('ROLE_USER') %}
                <div class="col-md-6 div-favorite" data-url="{{ path('ajax_get_favorite') }}">
                    {{ form_row(form.t2cFavorite) }}
                </div>
                <div class="col-md-3">
                    <span class="favorite-spinner" spinner-url="{{ asset('images/spinner.gif') }}"></span>
                </div>
            {% endif %}
            <div class="col-md-3">
                {{ form_row(form.maxResults) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 agileits_banner_bottom_left">
                <div class="agileinfo_banner_bottom_pos">
                    <div class="w3_agileits_banner_bottom_pos_grid">
                        <div class="col-xs-3 wthree_banner_bottom_grid_left">
                            <div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
                            </div>
                        </div>
                        <div class="col-xs-9 wthree_banner_bottom_grid_right">
                            {{ form_row(form.stopStart) }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 agileits_banner_bottom_left">
                <div class="agileinfo_banner_bottom_pos">
                    <div class="w3_agileits_banner_bottom_pos_grid">
                        <div class="col-xs-3 wthree_banner_bottom_grid_left">
                            <div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
                            </div>
                        </div>
                        <div class="col-xs-9 wthree_banner_bottom_grid_right">
                            {{ form_row(form.stopEnd) }}

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 agileits_banner_bottom_left">
                <div class="agileinfo_banner_bottom_pos">
                    <div class="w3_agileits_banner_bottom_pos_grid">
                        <div class="col-xs-3 wthree_banner_bottom_grid_left">
                            <div class="agile_banner_bottom_grid_left_grid hvr-radial-out">
                            </div>
                        </div>
                        <div class="col-xs-9 wthree_banner_bottom_grid_right">
                            <button type="submit"
                                    class="btn btn-block btn-primary btn-lg btn-find-route">
                                <i class="fa fa-search"></i> Chercher un tram
                            </button>
                            {{ form_end(form) }}
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <span class="search-spinner" spinner-url="{{ asset('images/spinner.gif') }}"></span>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            app.initHomeRouteFinderBtn();
            app.initFavorite();
            app.initSelect2();
        });
    </script>
{% endblock %}