{% extends 'frontOffice/base/layout_ajax.html.twig' %}

{% block body %}
    {% for route in routes %}
        <div class="banner-content">
            <div class="container">
                <div class="row pull-left">
                    {% if loop.index0 == 0 %}
                        {% if is_granted('ROLE_USER') %}
                            <div class="col-md-2">
                                <i class="fa fa-star add-favorite"></i>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="col-md-5">
                        Heure à l'arrêt : <span class="hour-info">{{ route.hourStart|date('H:i') }}</span>
                    </div>
                    <div class="col-md-5">
                        Heure d'arrivé : <span class="hour-info">{{ route.hourEnd|date('H:i') }}</span>
                    </div>
                </div>
                <div class="list-seperator"></div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="remaining-time">Temps restant avant l'arrivé du tram :</p>

                        <p class="countdown">{{ substractDate(route.hourStart, now)|date('%H:%i:%s') }}</p>
                    </div>
                </div>
                <div class="list-seperator"></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {% if routes[0] is defined and is_granted('ROLE_USER') %}
        {% set route = routes[0] %}
        <script>
            $('.add-favorite').on('click', function (e) {
                app.createModal('Ajouter aux favoris', '{{ path('add_favorite', {'start' : route.stopStart.id, 'end' : route.stopEnd.id}) }}');
            });
        </script>
    {% endif %}
{% endblock %}