@import '../vars/vars';

body {

  .hidden{
    display: none !important;
  }

  .btn-find-route {
    margin-top: 12px;
  }

  .banner-content {
    margin-top: 100px;
    margin-left: 10%;
    width: 80%;
    background: #FFF;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 30px;
  }

  .countdown {
    font-size: 36px;
    color: $colorTextDark;
    font-weight: 800;
    text-align: center;
  }

  .remaining-time {
    text-align: center;
  }

  .add-favorite {
    color: $colorTextDark;

    &:hover {
      color: $colorTextRed;
    }
  }

  .hidden {
    display: none;
  }

  .spinner-modal {
    height: 80px;
    width: 80px;
    margin-left: 40%;
  }

  .favorite-spinner {
    height: 20px;
    width: 20px;
    float: left;
  }

  .search-spinner {
    @extend .favorite-spinner;
    margin-bottom: 50px;
  }

  .select2 {
    width: 100%;
    margin-left: 5px;
  }

  input[type=text] {
    width: 100%;
    margin-left: 5px;
  }

  .nav-item {
    .nav-link {
      display: inline;
    }

    .separator {
      color: #FFFFFF;
    }
  }

  .select2-container {
    width: 100% !important;
    padding: 0;
  }

  .carousel-caption {
    padding-bottom: 100px;
  }

  .hour-info {
    font-weight: 800;
  }

  .route-result {
    min-height: 350px;
  }
}